# Example cron file for MTG Collection scheduled jobs
# installed into crontab by docker init

SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
SCRIPT_ROOT=/opt/mtg/scripts
LOG_ROOT=/var/log/mtg

# Daily log rotation (container installs logrotate config at /etc/logrotate.d/mtgc)
5 0 * * * /usr/sbin/logrotate /etc/logrotate.d/mtgc

# Weekly Scryfall refresh: all cards, default cards, rulings, migrations, manifest, weekly exports
0 1 * * 0 "$SCRIPT_ROOT"/data_updates.sh weekly >> "$LOG_ROOT"/cron_data_weekly.log 2>&1

# Nightly Scryfall refresh: sets, default cards, rulings, migrations, manifest
0 4 * * 1-6 "$SCRIPT_ROOT"/data_updates.sh nightly >> "$LOG_ROOT"/cron_data_nightly.log 2>&1
